body{
    background-color:white;
    min-height: 900px;
    background-image: url("OsSimpsons.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 1;
    }


main{
    text-align: center;
    margin-top: 70px;
}